html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden !important;
}
/*MAIN STYLE*/
@font-face {
	font-family: Evolve Sans Medium EVO;
	src: url("../fonts/Evolve_Sans_Medium_EVO.otf");
}

@font-face {
	font-family: Evolve Sans Thin EVO;
	src: url("../fonts/Evolve_Sans_Thin_EVO.otf");
}

* {
	margin: 0;
	padding: 0;
}

body {
	/* height: 100vh; */
	height: calc(var(--vh, 1vh) * 100);
	background-color: #16161b;
	color: #ffffff;
	font-family: Evolve Sans Thin EVO;
	overflow-x: hidden;
	overflow-y: hidden;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	position: relative;
	z-index: 1300;
}
#menu li:first-child {
	margin-top: 60px;
}
.navigation li:hover {
	text-decoration: underline;
}

.title-red {
	color: #7d1212;
}

.name {
	font-size: 3vw !important;
	padding: 5px;
	padding-top: 15px;
	padding-left: 20px;
	width: 10vw;
	position: relative;
	z-index: 1200;
}

/*.about_team:after {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100vw;	
	height: 100vh;	
	opacity: 0.4;
	background-color: #000;
	content:'';
}*/
/*MAIN STYLE*/

/*MAIN*/
.main {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	position: relative;
}

.big_circle {
	position: absolute;
	width: 90%;
	animation: main 60s infinite linear;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.small_circle {
	position: absolute;
	width: 80%;
	animation: main1 55s infinite linear;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#portfolio_mob {
	display: none;
}
@keyframes menu {
	0% {
		opacity: 1;
		transform: rotate(0deg);
	}
	50% {

	}
	100% {
		opacity: 0;
		transform: rotate(90deg);
	}
}
@keyframes main {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes main1 {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

.main_name {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.main_title {
	font-size: 13vw;
	letter-spacing: 5px;
	position: relative;
	margin: 0;
	padding: 0;
}

.main_title::before {
	content: "веб-студия";
	position: absolute;
	top: -20%;
	left: 10px;
	font-size: 3vw;
	align-self: center;
}

.main_title::after {
	content: "AGENCY";
	position: absolute;
	top: 85%;
	right: 2%;
	font-size: 4vw;
}

.btn-next-right {
	width: 50px;
	height: 50px;
	background: transparent url('../img/fig_2.png') no-repeat center;
	position: absolute;
	right: 0.5%;
	top: 50%;
}

.slide-nav {
	width: 25%;
	height: 10%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.slide-btn {
	border-radius: 50%;
	border: 1px solid #fafafa;
	background-color: inherit;
	width: 20px;
	height: 20px;
	/*position: relative;*/
}

.line {
	width: 15%;
	height: 2px;
	background-color: #ffffff;
}

/*MAIN*/


/*ABOUT*/
#about {
	background-color: #16181b;
	color: white;
	position: relative;
	width: 100%;
	height: 100vh;
}

.about_main {
	background: #fafafa;
	height: 70%;
	color: black;
	padding: 1% 5%;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 20px;
}

.about_main {
	/* height: auto; */
	margin: 3% 0;
}

#about_name {
	box-sizing: border-box;
	max-height: 24%;
}


.about_main p {
	font-size: 2vw;
	padding-bottom: 2vh;
}
.about_main p:first-child {
	font-size: 4vw;
	padding-bottom: 0.5vh;
	margin-bottom: 0.5vh;
	border-bottom: 1px solid #16161B;
}
.about_main p:last-child {
	padding-bottom: 50px;
}
.bottom {
	transform: rotate(90deg);
	filter: invert(100%) !important;
	cursor: pointer;
}

/*ABOUT*/

/*PORTFOLIO*/
#portfolio {
	height: 100vh;
	box-sizing: border-box;
}

.header_portfolio {
	height: 10vh;
}

.main-section {
	display: flex;
	position: relative;
}

.buy-btn {
	align-self: center;
	font-size: 32pt;
	height: 90vh;
	width: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: 0.2s all;
}

.buy-btn:hover {
	background-color: rgba(255, 255, 255, 1);
	color: #16161B;
}

.buy-btn:hover .vertical-line {
	background-color: #16161B
}

.buy-btn span {
	display: block;
	transform: rotate(270deg);
}

.portfolio .main-nav {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 10%;
	margin: -5px 280px 20px auto;
}

.logo {
	font-size: 30pt;
}

.portfolio-container {
	display: grid;
	height: 90vh;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	transition: 0.5s all;
	overflow-x: hidden;

}
.bodyOverflow {
	overflow: hidden;
}

.portfolio-row__1,
.portfolio-row__2 {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	min-width: 100px;
}

.portfolio-row__1 {
	grid-area: 1/1/2/2;
}

.portfolio-row__2 {
	grid-area: 2/1/3/2;
}

.portfolio-card {
	/*background: #fff;*/
	/*border: 1px solid white;*/
	min-width: 350px;
	width: 20vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	overflow-y: hidden;
}

.portfolio-card:not(:last-child) {
	margin-right: 20px;
}

.portfolio-card__img {
	height: 33%;
	min-height: 170px;
	max-height: 170px;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.portfolio-card__img:hover::after {
	position: absolute;
	content: "ПОДРОБНЕЕ";
	font-size: 34px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	padding-top: 75px;
	box-sizing: border-box;
}

.portfolio-card__title {
	font-weight: bold;
	padding: 10px 10px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin: 0 auto;
	font-size: 28px;
	border-bottom: 1px solid #fff;
	width: calc(100% - 50px);
	text-align: center;
}

.portfolio-card__text {
	padding: 5px 10px;
	text-align: center;
	font-size: 20px;
	line-height: 1.1;
}

.portfolio-card__text,
.portfolio-card__title {
	color: #fff;
}

.portfolio-btn {
	position: absolute;
	background: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, 1));
	color: #fff;
	right: 0;
	top: 0;
	height: 100%;
	width: 140px;
	z-index: 100;
}

.portfolio-btn-back {
	display: none;
	position: absolute;
	background: linear-gradient(to left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 1));
	color: #fff;
	left: 10vw;
	top: 0;
	height: 100%;
	width: 140px;
	z-index: 100;
	cursor: pointer;
}

.portfolio-btn span,
.portfolio-btn-back span {
	display: block;
	transform: rotate(270deg);
	color: #fff;
	font-size: 28px;
	width: 120px;
	text-align: center;
	position: relative;
}

.portfolio-btn-back span {
	width: 140px;
}

.fa-chevron-down,
.fa-chevron-up {
	position: absolute;
	right: -30px;
	top: 18px;
	font-size: 34px;
}

.fa-chevron-up {
	top: 38px;
}

.vertical-line {
	width: 2px;
	height: 20vh;
	background-color: #fafafa;
	color: transparent;
	user-select: none;
}

/*PORTFOLIO*/


/*FOS*/
.fos {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100%;
}

.fos-left {
	float: left;
}

.fos-left,
.fos-right {
	width: 50%;
	height: 100vh;
}

.fos-right {
	background-color: #fafafa;
	float: right;
}

.fos input {
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0 10px 15px 0;
	font-size: 1.5vw;
	font-family: inherit;
	width: 80%;
	background-color: inherit;
	outline: none;
	margin-bottom: 5%;
}

.fos-right input[type="submit"] {
	background: #1b1b1e;
	width: 60%;
	margin-left: 20%;
	font-size: 2.5vw;
	border-radius: 5px;
	padding: 8px 5px;
	margin-top: 10%;
	border: 2px solid #1b1b1e;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
}

.fos-right input[type="submit"]:hover {
	background: transparent;
	color: #1b1b1e;
}

/*.text-terms_of_processing {
	color: #000000;
	padding-left: 30px;
}

/* The processing-personal-data */
.processing-personal-data {
	display: block;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	font-size: 1.5vw;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000000;
}

/* Hide the browser's default checkbox */
.processing-personal-data input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fafafa;
	border: 1px solid #000000;
}

/* When the checkbox is checked, add a blue background */
.processing-personal-data input:checked~.checkmark {
	background-color: #fafafa;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.processing-personal-data input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.processing-personal-data .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #000000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.submit-btn {
	border: 1px solid #000000;
	background-color: #000000;
	padding: 15px 80px;
	font-size: 1.5vw;
	font-family: Evolve Sans Medium EVO;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
	margin-left: 40px;
}

.submit-btn:hover {
	border: 1px solid white;
	background-color: transparent;
	color: white;
}

.fos-left {
	padding: 3% 2%;
	box-sizing: border-box;
}

.fos-right {
	padding: 10% 5%;
	box-sizing: border-box;
}

.fos-left p:first-child {
	font-size: 9vw;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	margin-top: 13%;
}

.fos-left p:first-child::before {
	content: "веб-студия";
	position: absolute;
	top: -30%;
	left: 5%;
	font-size: 2vw;
	align-self: center;
}

.fos-left p:first-child::after {
	content: "AGENCY";
	position: absolute;
	top: 85%;
	right: 5%;
	font-size: 3vw;
}

.fos-left p:nth-child(2) {
	font-size: 3vw;
	text-align: center;
	margin: 13%;
}

.fos-left p:nth-child(3) {
	font-size: 2vw;
	text-align: center;
	margin: 0;
}

.fos-left p:nth-child(4) {
	font-size: 2vw;
	text-align: center;
	margin: 5%;
}

.fos-img {
	filter: invert(100%);
}

.fos .back {
	left: 10%;
}

/*FOS*/

/*SERVICES*/
.services {
	height: 100vh;
	position: relative;
	background-image: url(),
		url();
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95vw 100vw;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	margin: 0 auto 8% auto;
}

.about_min .main-nav {
	display: flex;
	justify-content: space-between;
	width: `100vw;
	margin: 0 auto 0% auto;
}

.services-content {
	width: 70%;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

.logo {
	font-size: 2.8vw;
}

.service-title {
	font-size: 6vw;
	margin-bottom: 0;
}

.service-description {
	font-size: 1.5vw;
	line-height: 36px;
	color: #fafafa;
	font-weight: 300;
	text-align: center;
	margin: 70px auto;
}

.btn {
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #fafafa;
	background-color: #fafafa;
	background-size: 50%;
}

.btn_active {
	background-color: #16161a !important;
}

.service-1-btn {
	top: 30%;
	left: 7vw;
	background-image: url('../img/text.svg');
}

.service-1-btn__active {
	background-image: url('../img/text_w.svg');
}

.service-2-btn {
	top: 47%;
	left: 6vw;
	background-image: url('../img/internet.svg');
}

.service-2-btn__active {
	background-image: url('../img/internet_w.svg');
}

.service-3-btn {
	top: 64%;
	left: 7vw;
	background-image: url('../img/design.svg');
}

.service-3-btn__active {
	background-image: url('../img/design_w.svg');
}

.submit-btn {
	background-color: #fafafa;
	padding: 15px 50px;
	font-size: 2vw;
	border-radius: 5px;
	color: #1b1b1e;
	font-family: Evolve Sans Medium EVO;
	margin: 0 auto;
	align-self: center;
}

/*SERVIСES*/

.red {
	color: #7d1212;
}

#menu-img {
	width: 4%;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	z-index: 1000;
}

#menu {
	background: #16161b;
	width: 30vw;
	height: 100vh;
	display: block;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}

#menu a {
	color: white;
	text-decoration: none;
	font-size: 2.8vw;
	text-align: right;
	position: relative;

}

#menu a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 3px;
	background-color: #fff;
	z-index: 2000;
	display: block;
	transition: all 0.4s;
}

#menu a:hover::after {
	width: 100%;
}

#menu li {
	list-style-type: none;
	padding: 5%;
	text-align: right;
	padding-right: 85px;
}

.menu-close {
	width: 10%;
	padding: 3% 10px 0 86%;
	cursor: pointer;
}

.about {
	position: relative;
	width: 100%;
	height: 100%;
}

.team_name {
	text-align: center;
	font-size: 4vw;
	z-index: 1200;
	position: relative;
}

.teams {
	display: flex;
	margin: 1% 3%;
	width: 100vw;
}

.team_col {
	width: 20%;
	z-index: 999;
}

.team {
	margin-bottom: 15%;
	padding: 5%;
	box-sizing: content-box;
	cursor: pointer;
	z-index: 1000;
	position: relative;
}
.team::before {
	display: none;
	width: 2px;
	height: 100%;
	background-color: #fff;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}
.team:hover::before {
	display: block;
}

.team:hover .example {
	visibility: auto;
}

.team p:nth-child(1) {
	font-weight: 900;
	font-size: 2vw;
}

.team p:nth-child(2) {
	margin-top: 10px;
	font-size: 1.3vw;
}

#about_min {
	height: 100vh;
	position: relative;
	background-image: url('../img/Большой_круг(контур).png'),
		url('../img/Векторный смарт-объект.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95vw 100vw,
		50vw;
}

#about_min h3 {
	font-size: 6vw;
	margin: 10% 8% 3% 8%;
	font-family: Evolve Sans Thin EVO;
}

#about_min p {
	font-size: 24px;
	text-align: center;
	margin: 3% 8%;
	line-height: 1.5;
}

.btn-next-left {
	width: 50px;
	height: 50px;
	background: transparent url('../img/btn-next-left.png') no-repeat center;
	position: absolute;
	left: 0;
	top: 50%;
}

.about-min-slide-nav {
	position: absolute;
	bottom: 0;
	left: 35%;
}

.services-content {
	display: none;
}

.active {
	display: block !important;
}

.back {
	position: absolute;
	height: 100%;
	top: 10%;
	opacity: 0.02;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vertical-line {
	width: 2px;
	height: 20vh;
	background-color: #fafafa;
	color: transparent;
	user-select: none;
}

.zakaz1 {
	display: none;
	position: absolute;
	height: 70%;
	top: 15%;
	width: 50%;
	left: 325%;
	background: white;
	color: black;
	z-index: 1000;
	padding: 2%;
	box-sizing: border-box;
	border-radius: 10px;
}

.zakaz1 p {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 5%;
	font-family: Evolve Sans Thin EVO;
}

.zakaz1 input {
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0 10px 15px 0;
	font-size: 1.3vw;
	font-family: inherit;
	width: 80%;
	background-color: inherit;
	outline: none;
	margin-bottom: 5%;
	margin-left: 10%;
}

.zakaz1 button {
	background: #1b1b1e;
	width: 60%;
	margin-left: 20%;
	font-size: 2vw;
	border-radius: 5px;
	padding: 8px 5px;
	margin-top: 2%;
	border: 2px solid #1b1b1e;
	cursor: pointer;
	color: white;
}

.zakaz1 button:hover {
	background: transparent;
	color: #1b1b1e;
}

.zakaz {
	position: relative;
	display: block;
	height: 70vh;
	width: 50vw;
	margin: 15vh auto;
	background: white;
	color: black;
	z-index: 10000;
	padding: 2%;
	box-sizing: border-box;
	border-radius: 10px;
}

.zakaz__active {
	display: block;
	position: fixed;
}

.zakaz p {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 5%;
	font-family: Evolve Sans Thin EVO;
}

.zakaz input {
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0 10px 15px 0;
	font-size: 1.3vw;
	font-family: inherit;
	width: 80%;
	background-color: inherit;
	outline: none;
	margin-bottom: 5%;
	margin-left: 10%;
}

.zakaz input[type="submit"] {
	background: #1b1b1e;
	width: 60%;
	margin-left: 20%;
	font-size: 2vw;
	border-radius: 5px;
	padding: 8px 5px;
	margin-top: 2%;
	border: 2px solid #1b1b1e;
	cursor: pointer;
	color: white;
}

.zakaz input[type="submit"]:hover {
	background: transparent;
	color: #1b1b1e;
}

.zakaz-wrap {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	z-index: 10000;
	top: 0;
	left: 0;
}

.zakaz .processing-personal-data {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.fa-times {
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;
	font-size: 28px;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #161619;
	z-index: 1000000000;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
}

.loader {
	width: 150px;
	height: 150px;
	border: 10px solid white;
	border-radius: 50%;
	border-top-color: #7d1212;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: 2s spin infinite linear;
}

.done {
	opacity: 0;
	visibility: hidden;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

::selection {
	background: #ca4b48;
	/* Safari */
	color: white;
}

::-moz-selection {
	background: #ca4b48;
	/* Firefox */
	color: white;
}

.example {
	position: absolute;
	opacity: 0.7;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	z-index: 1 !important;
}

#about_team_mob {
	display: none;
}
.m_portfolio_btn,
.m_portfolio_btn_back {
	display: none;
}
#popUpWindow {
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 20000;
}


@media (max-width: 1100px) {
	.big_circle {
		width: 130%;
	}

	.small_circle {
		width: 115%;
	}
	.main-title {
		font-size: 18vw !important;
	}
}

 @media (max-width: 900px) {
	.big_circle, .small_circle {
		display: none !important;
	}
	.main-title {
		font-size: 18vw !important;
		display: none !important;
	}
}


@media (max-width: 500px) {
	 .main_title {
		font-size: 18vw;
		position: relative;
	}
	.main_title::before {
		left: 1.5vw;
		font-size: 6vw;
		top: -24px;
		position: absolute;
	}

	.main_title::after {
		position: absolute;
		right: 1.5vw;
		top: 90%;
		/* bottom: 40px; */
		font-size: 6vw;
		display: block;
		height: 6vw;
	}
	#menu {
		width: 70vw;
	}
	#menu li:first-child {
		margin-top: 80px;
	}
	#menu li {
		text-align: left;
		padding-left: 24px;	
	}
	#menu a{
		text-align: left;
		font-size: 8vw;
	}
	.name {
		font-size: 10vw !important;
		padding: 5px;
		padding-top: 22px;
		padding-left: 22px;
		padding-bottom: 16px;
		height: 10%;
		box-sizing: border-box;
	}
	.about_main p:first-child {
		font-size: 12vw;
	}
	.about_main p {
		font-size: 5vw;
	} 
	#burger {
		width: 40px !important;
		height: 40px !important;
		background-size: 40px !important;
	}
	.teams {
		height: 80%;
		margin: 0;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(5, 1fr);
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100vw;
		position: relative;
		box-sizing: border-box;
	}
	.section {
		height: 100%;
		overflow: hidden;
		outline: 1px solid #fff;
	}
	.team_name {
		font-size: 14vw;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding-bottom: 5px;
		width: 100vw;
		height: 10%;
		box-sizing: border-box;
	}
	.team_col {
		width: 300vw;
		display: flex;
		flex-direction: row;
	}
	.team {
		width: 100vw;
		padding: 0;
		margin: 0;
		height: 100%;
	}
	.team p:nth-child(1) {
		font-size: 10vw;
		padding-top: 1vh;
		color: black;
		background-color: #fff;
		width: auto;
		display: block;
		box-sizing: border-box;
		text-align: center;
	}
	.team p:nth-child(2) {
		font-size: 7vw;
		margin: 0;
		box-sizing: border-box;
		text-align: center;
	}
	.team p {
		font-size: 5vw;
		padding-left: 0vw;
		margin: 0 auto;
	}
	.team p br {
		display: none;
		text-align: center;
	}
	.team_col:nth-child(3) {
		grid-area: 1/1/2/2;
	}
	.team_col:nth-child(3) {
		border-top: 10px solid #16161B;
	}
	.m_portfolio_btn,
	.m_portfolio_btn_back {
		display: block;
		width: 20vw;
		height: 20vw;
		top: 50%;
		position: absolute;
		z-index: 19000;
	}
	.m_portfolio_btn {
		right: -26px;
		background: url(/img/m_portfolio_btn.svg);
	}
	.m_portfolio_btn_back {
		display: none;
		left: -26px;
		transform: rotate(180deg);
		background: url(/img/m_portfolio_btn.svg);
	}
	.teammates {
		position: relative;
	}
	.main-nav {
		margin: 0;
	}
	.header_portfolio {
		height: 12%;
	}
	.main-section {
		overflow: hidden;
		height: 88%;
		flex-direction: column;
		width: auto;
		justify-content: flex-start
	}
	.buy-btn {
		width: 100vw;
		height: 10%;
		flex-direction: row;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
		box-sizing: border-box;
		align-self: unset;
		order: 2;
	}
	.buy-btn .vertical-line {
		width: 15vw;
		height: 2px;

	}
	.buy-btn span {
		transform: rotate(0deg);
		font-size: 12vw;
	}
	.portfolio-container {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr;
		width: 100vw;
		height: 70%;
		overflow-x: scroll;
		grid-gap: 0;
	}
	.portfolio-row__1 {
		grid-area: 1/1/2/2;
	}
	.portfolio-row__1,
	.portfolio-row__2 {
		min-width: auto;
		display: flex;
		flex-direction: row;
		width: auto;
		height: 66vh;
	}
	.portfolio-row__2 {
		grid-area: 1/2/2/3; 
	}
	.portfolio-card {
		width: 100vw;
		height: 100%;
		min-width: 100vw;
		margin: 0 !important;
		margin-top: 3vh !important;
	}
	.portfolio-card__img {
		width: 100%;
		height: 40%;
		min-height: unset;
		max-height: unset;
	}
	.portfolio-btn {
		left: 50vw;
		width: 50vw;
		height: 12%;
		bottom: 0;
		top: unset;
	}
	.portfolio-btn-back {
		width: 50vw;
		height: 12%;
		bottom: 0;
		top: unset;
		left: 0;
		text-align: right;
		padding-left: 36px;
		box-sizing: border-box;
		border-right: 1px solid #fff;
	}
	.portfolio-btn span,
	.portfolio-btn-back span {
		transform: rotate(0deg);
		height: 100%;
		font-size: 20px;
		width: 90%;
		display: block;
		padding-top: 4vh;
	}
		.portfolio-btn-back span {
			padding-top: 2.9vh;
		}
	.portfolio-btn-back span i {
		left: -30px;
		transform: rotate(-90deg);
		right: unset;	
	}
	.portfolio-btn span i {
		transform: rotate(-90deg);
	}
	.fa-chevron-down {
		right: -12px;
	}
	.fa-chevron-up {
		top: 18px;
	}

	.portfolio-container::-webkit-scrollbar {
		width: 0;
	}

	/* ie 10+ */
	.portfolio-container {
		-ms-overflow-style: none;
	}
	.zakaz {
		width: 90vw;
		height: auto;
	}
	.zakaz i {
		top: 3vw;
		right: 3vw;
	}
	.zakaz p {
		font-size: 10vw;
		margin-top: 5vh;
	}
	.zakaz input {
		margin-left: 5%;
		width: 90%;
		box-sizing: border-box;
		font-size: 5vw;
		margin-top: 1vh;
	}
	.processing-personal-data {
		font-size: 5vw;
	}
	.zakaz input[type="submit"] {
		margin-left: 5%;
		width: 90%;
		font-size: 6vw;
	}
	.but {
		position: absolute;
		height: 8vh;
		display: flex;
		justify-content: space-around;
		width: 90vw;
		left: 5vw;
		bottom: 14vh;
	}
	.service-1-btn,
	.service-2-btn,
	.service-3-btn {
		top: unset;
		left: unset;
		position: unset; 	
		width: 15vw;
		height: 15vw;
	}
	.services-content {
		width: 92vw;
		position: relative;
		height: 88%;
	}
	.service-1 h2 {
		margin-bottom: 5vh;
	}
	.services-content h2 {
		font-size: 12vw;
	}
	.service-description {
		height: 60vh;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 5vw;
		line-height: 1.3;
	}
	.services-content button {
		width: 92vw;
		font-size: 6vw;
		position: absolute;
		bottom: 3vh;
	}
	.fosWrap {
		display: flex;
	flex-direction: column;
	height: 100%;
	}
	.fos-left, .fos-right {
		height: 50%;
		width: 100vw;
	}
	.fos-left p:first-child {
		font-size: 18vw;
		margin-top: 8vh;
	}
	.fos-left p:first-child::before,
	.fos-left p:first-child::after {
		font-size: 6vw;
	}
	.fos-left p:first-child::before {
		left: 6vw;
		top: -3vh;
	}
	.fos-left p:first-child::after {
		right: 6vw;
		top: unset;
		bottom: -2.5vh;
	}
	.fos-left p:nth-child(2) {
		font-size: 7vw;
		width: 95vw;
		margin: 0 auto;
		margin-top: 4vh;
	}
	.fos-left p:nth-child(3) {
		font-size: 5vw;
		margin-top: 2vh;
	}
	.fos-left p:nth-child(4) {
		font-size: 7vw;
		width: 95vw;
	}
	.fos-right {
		padding: 2% 5vw;
		box-sizing: border-box;
	}
	.fos-right form {
		height: 96%;	
	}
	.fos-right form input {
		margin: 0;
		padding: 0;
		width: 90vw;
		height: 12%;
		box-sizing: border-box;
		margin-bottom: 4%;
		font-size: 4vw;
	}
	.fos-right form input[type="submit"] {
		margin: 0;
		width: 90vw;
		font-size: 5vw;
	}
	.fos-right label {
		font-size: 4.5vw;
		height: 14%;
		box-sizing: border-box;
		padding-top: 2%;
	}
	.section {
		height: 100%;
		overflow: hidden;
		outline: 1px solid #fff;
	}
	.about_main {
		/* height: auto; */
		height: 85%;
		margin: 0;
	}

	#about_name {
		box-sizing: border-box;
		height: 15%;
	}


}
 @media (max-width: 330px) {
	.portfolio-container {
		height: 66%;
	}
	.portfolio-btn-back span {
		padding-top: 2vh;
	}
	.zakaz p {
		margin-top: 3vh;
	}
	.service-description {
		height: 30vh;
		margin-bottom: 0;
	}
	.but {
		bottom: 15vh;
	}
	.section {
		height: 100%;
		overflow: hidden;
	}
 }

	