<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css">
	<link rel="stylesheet" href="test.css">
</head>
<body>
	<div id="app">
		{{test}}

		<div>
		    <full-page ref="fullpage" :options="options" id="fullpage">
			    <div class="section">
			      First section ...
			      <div id="menu">
			      	<a href="#page1">1</a>
			      	<a href="#page2">2</a>
			      	<a href="#page3">3</a>
			      </div>
			    </div>
			    <div class="section">
			      Second section ...
			    </div>
			    <div class="section">
			      3 section ...
			    </div>
		  </full-page>
		</div>
	</div>

	

	<script src="bower_components/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-fullpage.js/dist/vue-fullpage.min.js"></script>
	<script src='test.js'></script>
</body>
</html>